@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*--------------------------------------> ENCABEZADO <--------------------------------------------------*/

#body {
    width: 100%;
}

#encabezado {
    width: 100%;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
}

.cajasHeader {
    width: 33.3%;
    height: 75px;
    border: 1px solid white;
}


/*-----------------------------> ESTILOS PARA MENU NAVEGACION Y SUB MENU ---------------------------------------------------------*/

#navegacion {
    width: 100%;
    background-color: #111111;
}

#navegacion ul {
    list-style: none;
    text-align: center;
}

#menu>li {
    position: relative;
    display: inline-block;
}

#menu>li>a {
    display: block;
    padding: 15px 20px;
    color: #888888;
    font-family: "Homer Simpson", cursive;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

#menu li a:hover {
    color: #f7f7f7;
    transition: all .3s;
}

#navegacion:hover {}


/*------- SUBMENU---*/

.submenu {
    position: absolute;
    background-color: #111111;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #696868;
    font-family: "Homer Simpson", cursive;
    font-size: 14px;
    text-decoration: none;
}

.submenu li a:hover {
    color: #A6A6A6;
}

#menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}


/*---------------------------------------- CUEPO  PRINCIPAL ---------------------*/

#content-principal {
    width: 100%;
    background-color: #1B1B1B;
}

#principal {
    margin: auto;
    flex-direction: row;
    width: 90%;
    display: flex;
    /*background-image: url(img/573739.jpg)*/
    border: 1px solid blue;
}


/*lado izquierdo ----------------------------*/

aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #1B1B1B;
}

#nav_categorias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

#titulo_nav_izq {
    width: 80%;
    height: 75px;
    border-bottom: 1px solid #04e404;
}

#nav_izq {
    width: 80%;
    margin-top: 25px;
}

#nav_izq ul {
    list-style-type: none;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

#nav_izq ul a {
    color: #888888;
    text-decoration: none;
}

#nav_izq ul li {
    margin-top: 2px;
    width: 100%;
    margin-top: 10px;
}

#nav_izq ul li a {
    text-decoration: none;
    color: #515151;
    display: block;
    padding: 10px 10px 10px 20px;
}

#nav_izq ul li a:hover {
    color: #f7f7f7;
}

#nav_izq ul li:hover {}


/*-------------------------------------------------LADO CENTRAL DEL CUERPO ----------------------------*/

#contenedorPrincipal {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #1B1B1B;
}


/*----------------------------- TITULO DEL CUERPO CENTRAL --------------------*/

#titulo_articulo {
    width: 95%;
    height: 95px;
    font-size: 27px;
    display: flex;
    align-items: center;
    color: #04E404;
}


/*- -----------------CAJA DE TODOS LOS ARTICULOS ------------ -------------------------*/

.articulos {
    width: 98%;
    height: 350px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div-contenido-carrusel a{
	color: #7E7E7E;
	text-decoration: none;
	font-size: 15px;

}

.div-contenido-carrusel h5{
	color: #7E7E7E;
font-size: 20px;
}


.articulo button{
	color: #44D62D;
}

.articulo button:hover{

color: #44D62D;
background-color: #111111;
}

/*---------------- CAJA DE ARTICULOS EN FILA DE 4  ---------------------*/


/* IMAGENES DE LOS PRODUCTOS */

.div-imagen-carrusel {
    height: 80%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.div-contenido-carrusel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 20%;
}

.imagenes-carrusel-Producto {
    width: 50%;
    height: 80%;
    margin-top: 28px;
}

.imagenes-carrusel-Producto:hover {
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);
}

.articulo {
    width: 25%;
    height: 99%;
    border: 0.5px solid #343A40;
    /*-webkit-border-radius:3px;
-moz-border-radius:3px;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1B1B1B;
}

.articulo:hover {
   
box-shadow:inset 1px 1px 6px 1px  #515151;
background-color: #111111;

color: white;
}

.imagenes-carrusel-Producto {
    width: 50%;
    height: 82%;
    margin-top: 28px;
}


/*   CAJAS DE CADA PRODUCTO -------------------*/


/*--------------------------------------------- FOOTER ----------------------*/

#contenedorF {
    width: 100%;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid aqua;
}


/*----------------caja 1 --------------*/

#contenedorF img {
    width: 260px;
    
}


/*----------------caja 2 --------------*/

#caja2_footer {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: 1px solid blue;
}

.cf {
    width: 20%;
    margin-right: 2px;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
      text-align: center;
    border:1px solid red;
}

.cf h3 {
    font-size: 17px;
    color: #04E404;
}

.cf h5 {
    font-size: 14px;
    color: #515151
}

.cf a {
    text-decoration: none;
    color: #515151;
}

.cf a:hover {
    color: white;
}

.cf p {
    color: white;
}

#social {
    width: 40%;
    height:50px;
 
    display:flex;
    flex-direction:row;
    justify-content:space-between;
   margin: auto;
}

@media screen and (max-width:415px) {
    #principal {
        width: 100%;
        height: auto;
        border: 1px solid green;
        display: flex;
        flex-direction: column;
    }
    aside {
        width: 100%;
        display: flex;
    }
    #contenedorPrincipal {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid aqua;
    }
    .articulos {
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .articulo {
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    #conntenedorF {
        width: 100%;
        border: 1px solid yellow;
    }
    #caja2_footer {
        flex-direction: column;
        height: auto;
    }
    .cf {
        width: 100%;
        flex-direction: column;
    }
    .cf a {
        font-size: 7px
    }
}