@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*--------------------------------------> ENCABEZADO <--------------------------------------------------*/
#body {
	background-color: #F0F3F4;
	width: 100%;
}

#encabezado {
	width: 100%;
	background-color: #000000;
	display: flex;
	justify-content: space-between;
}

/*-----------------------------> ESTILOS PARA MENU NAVEGACION Y SUB MENU ---------------------------------------------------------*/
#navegacion {
	width: 100%;
	background-color: black;
}

#navegacion ul {
	list-style: none;
	text-align: center;
}

#menu>li {
	position: relative;
	display: inline-block;
}

#menu>li>a {
	display: block;
	padding: 15px 20px;
	color: white;
	font-family: "Homer Simpson", cursive;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
}

#menu  li  a:hover {
	color: #FAE800;
	transition: all .3s;
}

#navegacion:hover {
	box-shadow: 0px 15px 20px 1px #E0E0E0;
}

/*------- SUBMENU---*/
.submenu {
	position: absolute;
	background-color: #000000;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a {
	display: block;
	padding: 15px;
	color: #696868;
	font-family: "Homer Simpson", cursive;
	font-size: 14px;
	text-decoration: none;
}

.submenu li a:hover {
	color: #A6A6A6;
}

#menu li:hover .submenu {
	visibility: visible;
	opacity: 1;
}



/*---------------------------------------- CUEPO  PRINCIPAL ---------------------*/
#principal {
	
	width: 90%;
	display: flex;
	margin: auto;
	
}

/*lado izquierdo ----------------------------*/
aside {
	width: 20%;
	display: flex;
	flex-direction: column;

	background-color: white;
}

#nav_categorias {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 85px;
	
}

#titulo_nav_izq {
	width: 80%;
	height: 75px;
	margin-top: 55px;
	border-bottom: 1px solid #D1D1D1;

}

#nav_izq {
	width: 80%;
	margin-top: 25px;
}

#nav_izq ul {
	list-style-type: none;
	
	
	
	font-family: Arial, sans-serif;
	font-size: 11pt;
}

#nav_izq ul li {
	background-color: white;
	margin-top: 2px;
	width: 100%;
	transition: width 0.5s;
	margin-top: 10px;
}

#nav_izq ul li a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 10px 10px 10px 20px;
	transition: width 1s;
	transition: margin-left 1s;
}

#nav_izq ul li a:hover {
	
	color: black;
	margin-left: 5px;
	box-shadow: 5px 6px 5px black;
}

#nav_izq ul li:hover {
	width: 105%;
	
}

/*-------------------------------------------------LADO CENTRAL DEL CUERPO ----------------------------*/
#contenedorPrincipal {
	width: 80%;
	display: flex;
	background-color: white
}


/*----------------------------- TITULO DEL CUERPO CENTRAL --------------------*/
#titulo_articulo {
	
	width: 95%;
	height: 95px;
	font-size: 27px;
	display: flex;
	align-items: center
}

/*- -----------------CAJA DE TODOS LOS ARTICULOS ------------ -------------------------*/
#articulos {
	width: 100%;
	display: flex;
	margin-top: 90px;
	flex-direction: column;
	align-items: center;
	border-left: 1px solid #d1d1d1;
	
}


/*---------------- CAJA DE ARTICULOS EN FILA DE 4  ---------------------*/
.articulo {
	
	width: 98%;
	
	height: 350px;
	margin-bottom: 50px;

	display: flex;
	flex-direction: row;
	justify-content: center
}

/* IMAGENES DE LOS PRODUCTOS */
.articulo img {
	width: 100%;

}


/*   CAJAS DE CADA PRODUCTO -------------------*/
.productos {
	border: 1px solid purple;
	width: 25%;
	
}

/*--------------------------------------------- FOOTER ----------------------*/
footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

/*----------------caja 1 --------------*/
footer img {
	width: 260px;
	margin-top: 55px;
}

/*----------------caja 2 --------------*/
#caja {
	width: 60%;
	margin-top: 40px;
	display: flex;
	margin-bottom: 105px;
	font-size: 14px;
}

#caja article {
	margin-right: 2px;
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}

#caja article h3 {
	color: #FAE800;
}

#caja article a {
	text-decoration: none;
	margin-top: 4px;
	color: #515151;
}

#contenedorFooter {
	
	background-color: #252525
}

#caja article a:hover {
	color: white;

}

#caja article p {
	color: white;
}

#social {
	font-size: 30px;
	margin-top: 15px
}