	#menu-Principal{background-color: #111111;width: 100%;display: flex;flex-direction: column;}


#menu_animado{width: 100%;height:200px;background-color:#111111;margin-top: 2px;display: flex; justify-content: center;}


.opc_menu{width: 80%;border-right: 1px solid black;height: 120px;margin-top: 25px;margin-left: 25px}

ol,ul {
	list-style:none;
}


a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}


h1{
	margin:10px 0 0px 20px;
	font-size:80px;
	color:#000;
	text-shadow:1px 1px 1px #fff;
	font-family: 'Wire One', arial, serif; 
}
h1 span{
	font-size:22px;
	text-transform:uppercase;
}


.content{
	width:100%;
	position:relative;
}



/*Sliding Text and Icon Menu Style*/

.sti-menu{
margin: 0;
display: flex;
justify-content: center;
width:100%;
height:98%;

		
}
.sti-menu li{
	float:left;
		min-width:110px;
		width:210px;


	
	height:100%;
	margin:1px;
	display: flex;
	justify-content: center;

}
.sti-menu li a{
	display;flex;
	justify-content:center;
	overflow:hidden;
	background:#111111;
	text-align:center;
	height:100%;
	width:100%;
	position:relative;
	
	
		
}

.sti-menu li a h3{
	font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif; 
	font-size:18px;
	font-style:italic;
	color: #111;
	position:absolute;
	top:248px;
	left:0px;
	width:180px;
	padding:10px;
}

@media (min-width:555px){
.sti-icon{
	min-width:100px;
	width:150px;
	height:100px;
	position:absolute;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:transparent;
	left:30px;
	top:30px;
	
}


}
.sti-menu li a h2{
	color:#000;
	font-family: 'Wire One', arial, serif; 
	font-size:35px;
	font-weight:bold;
	text-transform:uppercase;
	position:absolute;
	
	width:100%;
	top:140px;
	
	text-shadow: 0px 1px 1px black;
}
.sti-icon-care{
	
	background-image:url(../img/imagenesNavegacion/promo.png);
	
}
.sti-icon-alternative{
	background-image:url(../img/imagenesNavegacion/temporizador.png);
}

.sti-icon-info{
	background-image:url(../img/imagenesNavegacion/mando5.png);
}
.sti-icon-technology{
	background-image:url(../img/imagenesNavegacion/technology.png);
}

.sti-icon-family{
	background-image: url(../img/imagenesNavegacion/funkosOriginal.png);
	
	

}


.sti-icon-technology{
	background-image: url(../img/images/audifonosOriginal.png);
	
	
}